@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: white;
  overflow-x: hidden;
  font-size: 15px;
}
/* HOME */
.home {
  background-color: #ff6b81;
  width: 100%;
}
